html, body {
    width: 100vw;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
h1 {
    /* background-color: blueviolet; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
body {
    background-image: url(Artboard\ 1.png);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}